	<div class="container">
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					
					<header>
						<h1>Welcome to my website!</h1>
						<p>Thanks for visiting my page. I hope you find the content here interesting and informative.</p>
					  </header>
				  
					  <section>
						<header>
						  <h2>About Me</h2>
						</header>
						<p>My name is Aaditya SHrestha and I am a student of Seneca College in BTT program. My student ID is 139855217. I am interested in Data Engineering, software engineering, and data science.</p>
					  </section>
					
					<!-- End your code here  -->



				</main>
			</div>
	</div>

